@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --f-hanken-grotesk: "Hanken Grotesk", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-hanken-grotesk);
}

body {
    background-color: hsl(221, 100%, 96%);
}

/* MAIN */

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 40px;
}

/* MAIN ITSELF */

.main-itself {
    width: 750px;
    background-color: white;
    border-radius: 2rem;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}

/* MAIN ITSELF LEFT */

.main-itself-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    row-gap: 35px;
    background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    border-radius: 0 2rem 2rem 0;
}

.main-itself-left-header {
    color: hsl(241, 100%, 89%);
    font-weight: 500;
}

.main-itself-left-result {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg,hsla(241, 72%, 46%, 0),hsla(256, 72%, 46%, 1));
    border-radius: 10rem;
    justify-content: center;
}

.main-itself-left-result-header {
    color: white;
    font-size: 5rem;
    line-height: 1.2;
}

.main-itself-left-result-paragraph {
    color: hsl(241, 100%, 89%);
}

.main-itself-left-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.main-itself-left-result-ex-text {
    color: white;
}

.main-itself-left-result-ex-paragraph {
    color: hsl(241, 100%, 89%);
    text-align: center;
    line-height: 1.7;
    font-size: 1.1rem;
}

/* MAIN ITSELF RIGHT */

.main-itself-right {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
}

/* MAIN ITSELF RIGHT HEADER */

.main-itself-right-header {
    color: hsl(224, 30%, 27%);
    font-size: 1.8rem;
}

/* MAIN ITSELF RIGHT SUMMARY */

.main-itself-right-summary {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main-itself-right-summary-itself {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 0.5rem;
}

.main-itself-right-summary-itself:nth-of-type(1) {
    background-color: rgba(255, 85, 85, 0.05);
}

.main-itself-right-summary-itself:nth-of-type(1) .main-itself-right-summary-itself-left-text {
    color: #F55;
}

.main-itself-right-summary-itself:nth-of-type(2) {
    background-color: rgba(255, 176, 30, 0.05);
}

.main-itself-right-summary-itself:nth-of-type(2) .main-itself-right-summary-itself-left-text {
    color: #FFB21E;
}

.main-itself-right-summary-itself:nth-of-type(3) {
    background-color: rgba(0, 187, 143, 0.05);
}

.main-itself-right-summary-itself:nth-of-type(3) .main-itself-right-summary-itself-left-text {
    color: #00BB8F;
}

.main-itself-right-summary-itself:nth-of-type(4) {
    background-color: rgba(17, 37, 214, 0.05);
}

.main-itself-right-summary-itself:nth-of-type(4) .main-itself-right-summary-itself-left-text {
    color: #1125D6;
}

.main-itself-right-summary-itself-left {
    display: flex;
    column-gap: 10px;
}

.main-itself-right-summary-itself-left-text {
    font-weight: 500;
    font-size: 1.1rem;
}

/* MAIN ITSELF RIGHT BUTTON */

.main-itself-right-button {
    font-size: 1.05rem;
    font-weight: 700;
    background-color: hsl(224, 30%, 27%);
    border: 0;
    color: white;
    padding-block: 17px;
    border-radius: 2rem;
    cursor: pointer;
}

.main-itself-right-button:hover {
    background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

.main-itself-right-summary-itself-right {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.main-itself-right-summary-itself-right-text:first-of-type {
    font-weight: 800;
    color: hsl(224, 30%, 27%);
}

.main-itself-right-summary-itself-right-text:last-of-type {
    color: hsl(224, 16%, 54%);
}

/* MEDIA QUERIES */

@media (max-width: 850px) {
    .main-itself {
        width: calc(100% - 30px);
    }
}

@media (max-width: 700px) {
    body {
        background-color: white;
    }
    .main-itself {
        width: 100%;
        border-radius: 0;
        grid-template-columns: 1fr;
        border: 0;
        box-shadow: none;
    }
    main {
        padding: 0;
        align-items: flex-start;
    }
    .main-itself-left {
        border-radius: 0;
    }
}